nav{
    background-color: aqua;
    height: 80px;
    width: 100%;
    
}
nav li{
    list-style:none;
    display:inline;
    font-size:20px;
    margin: 25px 15px;
    padding:5px;
}
nav ul li:hover{
    color: rgb(249, 248, 248);
    background-color: rgb(192, 139, 139);
}
nav li a{
    text-decoration:none;
}

footer{
    text-align:center;
}
form .student-info label{
    display:block;
    margin: 5PX 0;
}
.form-section{
    background-color: bisque;
    font-size:30px;
    color:rgb(159, 85, 45);
    
}
.form-section input{
    font-size: 20px;
    color:rgba(1, 9, 27, 0.393)
}
.form-section .html-form-example {
    text-align:center;
    color:blue;
    text-decoration: underline;

}
select{
    font-size:20px;
}


